.overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.file {
    display: flex;
    background-color: #785964;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.file:hover .overlay{
    opacity: 0.4;
    background:  url("/ayase.webp") no-repeat center center;
}